
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        input {
            border: 2px solid purple;
            border-radius: 4px;
            font-size:24px;
        }
        
    </style>
</head>
<body>
    
        <div>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <input name="NickName" type="text" />
            <input type="password" name="Password" />
            <button style="background-color:darkmagenta; font-size:25px; border-radius:10px; color:white;" type="submit">Login</button>
    }
            <br />
        </div>
    
</body>
</html>
